@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

.animate-pulse {
  animation: pulse 2s ease-in-out infinite;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}